<div class="container">
    <div class="row">
        <div class="col d-flex mt-3 ">
            <div class="col">
                <div class="h3 text-primary fw-bold ">
                    CONTACT - LIST
                    <a routerLink="/contacts/add" class="btn btn-success btn-sm ms-3">
                        <i class="fa fa-plus-circle"></i>
                        New
                    </a>
                </div>
            </div>
            <form action="" class=" col d-flex">
                <div class="col me-3">
                    <input type="text" class="form-control " placeholder="Search User">
                </div>
                <div class="col">
                    <input type="submit" class="btn btn-outline-dark" value="Search">
                </div>
            </form>
        </div>
    </div>
    <div class="row mt-5">
       <app-card ></app-card>
    </div>
</div>
