/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

body {
  font-family: "Ubuntu", sans-serif !important;
  background-color: rgb(204, 202, 202) !important ;
}

.contact-img {
  width: 100px;
  border-radius: 50%;
}

.contact-img-big {
  width: 300px;
  border-radius: 50%;
}
